

.userdetails{
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  background-color: skyblue;
  margin-bottom: 30px;
}

.userdetails img{
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.followersdetails{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.followersdetails img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}


